python>=3.9
tensorflow==2.9.1
protobuf<=3.20.1
jupyterlab
keras
Keras-Preprocessing
notebook
Pillow
numpy>= 1.22
pandas
plot-keras-history
python-editor
statsmodels
streamlit
tensor
tensorflow
MultiApp
